body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: sans-serif;
}

.calc {
  background: #4000ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  text-align: center;
  width: 220px;
}

input {
  width: 90%;
  font-size: 1.5rem;
  padding: 10px;
  text-align: right;
  border: 1px solid #ccc;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  background: #000000;
  color: #eeff00;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  color: #000000;
  background: #ffff00;
}

.finalButton {
  grid-column: span 2;
  background: rgb(255, 0, 0); /* Optional: gives a special color */
}

.display {
  text-align: right;
  margin-bottom: 10px;
}

.expression {
  font-size: 1rem;
  color: #ffffff;
  height: 20px;
}