body {
  margin: 0; font-family: sans-serif;
  background: #eee;
  text-align: left;
}

header {
  background: #7f5af0;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  margin: 4rem auto;
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

button {
  padding: 0.5rem 1rem;
  background: #7f5af0;
  color: white;
  border: none;
  border-radius: 5px;
}